#page5{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h3
      Lean Kit Kanban
    %a{"data-icon" => "arrow-l", "data-iconpos" => "left", "data-role" => "button", "data-transition" => "fade", :href => "/dashboard"}
      Back
  %div{"data-role" => "header", "data-theme" => "a"}
  %div{"data-role" => "content"}
    %div{"data-content-theme" => "", "data-role" => "collapsible-set", "data-theme" => ""}
      - @lanes.each do |lane|
        %div{"data-collapsed" => "true", "data-role" => "collapsible"}
          %h3
            = lane["Title"] 
          %ul{"data-divider-theme" => "b", "data-inset" => "true", "data-role" => "listview"}
            - if lane["Cards"].nil? || lane["Cards"].empty?
              %li{"data-theme" => "c"}
                %a{"data-transition" => "slide", :href => "#"}
                  No cards
            - lane["Cards"].each do |card|
              %li{"data-theme" => "c"}
                %a{"data-transition" => "slide", :href => "/board/#{@board["Id"]}/card/#{card["Id"]}"}
                  = card["Title"]
