#page5{"data-role" => "page", "data-theme" => "b"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h3
      Lean Kit Kanban
    %a{"data-icon" => "arrow-l", "data-iconpos" => "left", "data-role" => "button", "data-transition" => "fade", :href => "/dashboard"}
      Back
  %div{"data-role" => "header", "data-theme" => "a"}
  %div{"data-role" => "content"}
    - @lanes.each do |lane|
      %ul{"data-divider-theme" => "b", "data-inset" => "true", "data-role" => "listview"}
        %li{"data-role" => "list-divider", :role => "heading"}
          = lane["Title"]
        - lane["Cards"].each do |card|
          %li{"data-theme" => "c"}
            %a{"data-transition" => "slide", :href => "#page7"}
              = card["Title"]
