%html
  %head
    %title Lean Kit Kanban
    %meta{ name: "viewport", content: "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
    %link{ rel: "stylesheet", href: "/iui/iui.css", type: "text/css" }
    %link{ rel: "stylesheet", href: "/iui/t/default/default-theme.css", type: "text/css" }
    %script{ type: "application/x-javascript", src: "/iui/iui.js" }
  %body
    = yield
