%div{ "data-role" => "page", "data-theme" => "b", :id => "page1" }
  %div{ "data-theme" => "b", "data-role" => "header" }
    %h3 Lean Kit Kanban
  %div{ "data-theme" => "a", "data-role" => "header" }
  %div{"data-role" => "content" }
    %form{ id: "login", name: "login", action: "", method: "post" }
      -if @error
        .error
          = @error
      %div{ "data-role" => "fieldcontain" }
        %fieldset{ "data-role" => "controlgroup" }
          %label{ for: "account" }
          %input{ id: "account", name: "account", placeholder: "your account", value: @account, type: "text" }
      %div{ "data-role" => "fieldcontain" }
        %fieldset{ "data-role" => "controlgroup" }
          %label{ for: "email" }
          %input{ id: "email", name: "email", placeholder: "your email", value: @email, type: "text" }
      %div{ "data-role" => "fieldcontain" }
        %fieldset{ "data-role" => "controlgroup" }
          %label{ for: "password" }
          %input{ id: "password", name: "password", placeholder: "your password", value: "", type: "password" }
  %a{ id: "login_button", "data-role" => "button", "data-transition" => "slide", :href => "#" }
    Login

