%div.toolbar
  %h1.pageTitle Login
  %a{id: "backButton", class: "button", href: "#"}
%div{id: :index, title: "Index", selected: "true" }
  %form{id: "login", title: "Login", class: "panel", name: "login", action: "", method: "post"}
    -if @error
      %fieldset
        %div{class: "row error"}
          %p
            =@error
    %fieldset
      %div{class: "row"}
        %label Account
        %input{type: "text", value: @account, name: "account", placeholder: ""}
      %div{class: "row"}
        %label Email
        %input{type: "text", value: @email, name: "email", placeholder: ""}
      %div{class: "row"}
        %label Password
        %input{type: "password", name: "password", placeholder: ""}
    %a{class: "whiteButton", href: "javascript:login.submit()"} Go
